@font-face {
    font-family: satoshi-medium;
    src: url(/assets/fonts/Satoshi-MediumItalic.ttf);
}

@font-face {
    font-family: satoshi-light;
    src: url(/assets/fonts/Satoshi-Light.ttf);
}

@font-face {
    font-family: satoshi-regular;
    src: url(/assets/fonts/Satoshi-Regular.ttf);
}

@font-face {
    font-family: satoshi-black;
    src: url(/assets/fonts/Satoshi-Black.ttf);
}


:root {
    --box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    --color-white: white;
    --color-pink: #5328e0;
    --color-light-dark: #2b2b2b;
    --color-dark: black;
    --color-dark-white: #b7b6ba;

}

* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-container {
    width: 100%;
    box-shadow: var(--box-shadow);
}

.logo-container {
    width: 90%;
    margin: 0 auto;
    background-color: white;

}

.logo {
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.text {
    width: 100%;
}

.logo-img {
    width: 60%;

}

.logo-text {
    font-size: 1.35rem;
    color: #47474a;
    letter-spacing: 2px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.content-section {
    margin-top: 50px;
}

.content-box {
    width: 100%;
}

.content-heading {
    width: 100%;


}

.content-box>.content {
    width: 100%;
    font-size: 4.8rem;
    font-weight: 700;
    color: #232324;
    /* line-height: 1.3; */
    font-family: satoshi-light;
}

.content-box>.paragraph {
    width: 70%;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 20px;
    font-family: satoshi-light;
}

.box-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    column-gap: 10px;


}

.btn {
    width: fit-content;
    border: 1px solid var(--color-light-dark);
    display: flex;
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 20px;
    background-color: transparent;

}

.flex {
    padding: 15px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-transform: capitalize;
    justify-content: center;
}

.fa-brands {
    font-size: 20px;
}

.download {
    font-size: 16px;
}

.egg-bg {
    margin: 40px 0;
    width: 100%;
    background-image: url(/assets/images/grid.png);
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mouse-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.mouse-text {
    width: 10%;
    text-align: center;
}

.mouse-cont {
    width: 100%;
    text-align: center;
}

.line-section {
    background-color: var(--color-pink);
}

.mouse {
    width: 15%;
}

.line-bg {

    position: relative;
    width: 100%;


}

.line-2 {
    position: absolute;
    top: -11.2%;
    height: 27.5%;
}

.container-flex {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.content-flex {
    width: 80%;
}


.circle {
    width: 10%;
    /* border: 1px solid red; */
}

.white-bg {
    background-color: var(--color-white);
}

.zero {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid white;
    /* margin-bottom: 10px; */
}

.headline {

    width: 100%;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 30px;
    color: var(--color-white);

}

.work {
    width: 50%;
    padding: 60px 0;
    margin: 0 55px;
}

.content-text-box {
    width: 45%;
    /* border: 1px solid yellow; */
}

.img-flex-container {

    width: 100%;
    /* height: 100%; */
    object-fit: cover;

}

.wallet-container {
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.wallet {
    width: 40%;

}

.wallet1 {
    display: none;
}

.line {
    position: absolute;
    top: 30px;
    left: -32px;
}

.line-2 {}

.steps {
    padding: 30px;
    width: 100%;
    position: relative;

}

.step-cont {
    width: 100%;
    margin: 0 5rem;
    padding-top: 6rem;

}

.step {
    font-family: satoshi-black;
    color: var(--color-dark-white);
    font-size: 17px;
    text-transform: uppercase;
}

.account {
    color: var(--color-white);
    font-size: 1.2rem;
    text-transform: capitalize;
}

.login {
    text-transform: capitalize;
    font-size: 15px;
}

.section-container {
    width: 90%;
    margin: 0 auto;

}

.my-section {
    margin-top: 30px;

}

.flex-box {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
    color: var(--color-pink);

}

.box {
    width: 45%;
}

.all {
    width: 100%;
}

.why {
    line-height: 1.5;
    width: 100%;
    font-size: 2.85rem;
    color: var(--color-pink);
}

.choose {
    color: var(--color-pink);
}

.icon {
    width: 50%;

}

.icon>.icon-img {
    width: 20%;
}

.pricing {
    padding: 10px 0;
    font-size: 1.55rem;
    font-weight: 800;
    font-family: satoshi-regular;
}

.class {
    font-family: satoshi-light;

}

.send {
    width: 100%;
    line-height: 1.5;
    font-family: satoshi-light;
}

.team-section {
    margin: 30px 0;
}

.team-container {
    width: 100%;
    background-color: #f8f8f8;
}

.team-box {
    width: 90%;
    margin: 0 auto;
}

.team-header {
    width: 100%;
    color: var(--color-pink);
    padding: 30px 0;
}

.team-header>.our-team {
    font-size: 40px;
    text-transform: capitalize;
}

.cards {
    margin-top: 45px;
    width: 100%;
    display: flex;
    column-gap: 20px;

}

.card {
    width: 25%;
    border: 3px solid transparent;
}

.profile {
    width: 100%;
    object-fit: cover;
}

.profile-info {
    margin-top: 1rem;
    background-color: #dad6d68c;
    border-radius: 20px;
    padding: 1rem;
    color: #2b2b2b;
}

.name-profile {
    font-size: 1.17em;
    text-transform: capitalize;
}

.team-header>.family {
    text-transform: capitalize;
}

.freq {
    width: 90%;
    margin: 0 auto;


}

.freq-ask {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2em;
    color: var(--color-light-dark);
}

.faq-card {
    width: 650px;
    border: 1px solid black;
    /* height:50px; */
    border-radius: 10px;


}

.faq-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq {
    width: 65%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;


}

.questions-container {
    width: 95%;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.questions-container>.question {
    width: 95%;

}

.questions-container>.plus {
    font-size: 18px;
}


.logo-social {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.centre {
    width: 100%;
    margin: 0 auto;
    /* text-align: center; */
}

.sendna-logo {
    width: 100%;
    display: flex;
    justify-content: start;
}

.social-icon {
    width: 50%;

}

.social-icon>.item-menu {
    list-style: none;
    display: flex;
    column-gap: 20px;
}

.list-item>.fa-brands {
    color: white;
}

footer {
    margin-top: 25px;
    background-color: var(--color-pink);
    width: 100%;
    color: white;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.footer-all {
    width: 100%;
    text-align: center;
}

.flex-nav-items {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



}

.logo-nav-footer {
    display: flex;
    width: 100%;
    /* justify-content: start; */
    align-items: center;
}

.logo-nav-footer>.img-container {
    width: 40%;
    /* margin-left: 30px; */
}

.img-container>.footer-img {
    width: 100%;
    height: 30px;
}

.social-icon {
    width: 30%;
}

.list-menu {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: start;

}

.sendna-container>.footer-icon {
    font-size: 1.3em;
    text-transform: capitalize;
}

.list-menu>.list-item .fa-brands {
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.privacy-policy {
    width: 100%;
    padding: 20px 0;
}

.privacy-policy>.privacy-policy-menu {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.privacy,
.policy {
    font-size: 16px;

}

.terms {
    border: 2px solid white;
    padding-left: 20px;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

*/ .flex-icon-social {
    display: flex;
    justify-content: center;
    width: 100%;

}

.flex-items-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    font-family: satoshi-regular;

}

.info>.info-details {
    font-weight: 300;
    padding: 20px 0;
}

.info>.copyright {
    padding: 30px;


}

.info>.xertifiedloaded {
    text-transform: capitalize;
    font-weight: 400;
}

.info>.xertifiedloaded .mankind {
    color: gold;
}

@media screen and (max-width: 600px) {
    .header-container {
        width: 100%;
        margin: 0;
    }

    .logo-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .logo {
        width: 100%;
        margin: 0;
    }

    .container {
        width: 90%;
        margin: 0 auto;

    }

    .content-box {
        width: 100%;
        padding-bottom: 20px;
    }

    .content-box>.paragraph {
        width: 100%;
    }

    .box-container {

        display: flex;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        row-gap: 20px;
    }

    .line,
    .line-2 {
        display: none;
    }

    .line-bg {
        display: block;
        width: 85%;
        margin: 0 auto;
    }

    .container-flex {
        display: block;
        width: 100%;
        margin: 0;
    }

    .circle {
        display: none;
    }

    .headline {
        width: 100%;
    }

    .work {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .content-text-box {
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }

    .steps {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .step-cont {
        margin: 0;

    }

    .img-flex-container {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }

    .wallet-container {
        width: 100%;
        display: block;
    }

    .wallet {
        width: 90%;
        margin: 0;
    }

    .section-container {
        width: 100%;
        display: block;

    }

    .flex-box {
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;

    }

    .box {
        width: 100%;
        margin-bottom: 10px;
        display: block;
        text-align: center;
        /* border: 1px solid red; */
    }

    .content-heading {
        width: 100%;
    }

    .text-content-nav {
        width: 100%;
    }

    .icon-img {
        width: 10%;
    }

    .icon {
        width: 100%;
    }

    .team-container {
        width: 100%;
    }

    .team-box {
        width: 100%;
    }

    .cards {
        display: block;
        width: 100%;
        text-align: center;
    }

    .card {
        width: 100%;


    }

    .member-img {
        width: 100%;
        padding-bottom: 10px;
    }

    .profile {
        width: 80%;
    }

    .profile-info {
        width: 70%;
        margin: 0 auto;
    }

    .freq {
        width: 100%;

    }

    .faq-container {
        width: 100%;
    }

    .faq {
        width: 100%;
        margin: 0;
        display: block;
    }

    .faq-card {
        width: 99%;
        margin: 10px 0;
        padding: 20px 0;
    }

    .footer-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .questions-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .question {
        font-size: 15px;
    }

    .flex-nav-items {
        display: block;
        width: 100%;
    }

    .social-icon-social {
        width: 100%;
    }

    .flex-items-order {
        display: block;
        text-align: center;

    }

    .logo-nav-footer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo-nav-footer>.img-container {
        width: 15%;
    }

    .img-container>.footer-img {
        width: 20%;
    }

    .social-icon {
        width: 100%;

    }

    .terms {
        border: none;
    }

    .social-icon>.list-menu {
        /* width: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .privacy-policy {
        width: 100%;
        margin: 0;
    }

    .border {
        padding-bottom: 10px;
    }

    .privacy-policy>.privacy-policy-menu {
        display: block;
        text-align: center;
        margin: 0;
    }

    .pricing,
    .policy {
        width: 100%;
        padding: 0;
    }

    .terms {
        padding: 0;
    }

    .info {
        width: 100%;
    }












}